Repository OpenST/brandedtoken-contracts, pull requests merged in 2019-01, with the labels that each got.

#102 Contracts: add setName and setSymbol to BT.
  contracts/BrandedToken.sol
  contracts/EIP20Token.sol
  contracts/test/branded_token/OrganizationMockFail.sol
  test/branded_token/set_name.js
  test/branded_token/set_symbol.js
  test/branded_token/utils.js
Labels: area:branded-token, v0.10.0

#51 Unit test cases for internal contract + improvements
  contracts/Internal.sol
  contracts/UtilityBrandedToken.sol
  contracts/test/MockCoGateway.sol
  contracts/test/MockOrganization.sol
  contracts/test/TestUtilityBrandedToken.sol
  test/internal/register_internal_actor.js
  test/internal/utils.js
  test/utility_branded_token/approve.js
  test/utility_branded_token/constructor.js
  test/utility_branded_token/decrease_supply.js
  test/utility_branded_token/increase_supply.js
  test/utility_branded_token/set_cogateway.js
  test/utility_branded_token/transfer.js
  test/utility_branded_token/transfer_from.js
  test/utility_branded_token/utils.js
Labels: area:utility-branded-token, v0.10.0

#107 Contracts: limit BT conversionRateDecimals to 5.
  contracts/BrandedToken.sol
  test/branded_token/constructor.js
Labels: area:branded-token, v0.10.0

#111 Tests: add negative test for BT.liftAllRestrictions
  test/branded_token/lift_all_restrictions.js
Labels: area:branded-token, v0.10.0

#115 Contracts: cast this to address in calculating domain separator in BT.
  contracts/BrandedToken.sol
Labels: area:branded-token, v0.10.0

#118 Added await before calling expectRevert to resolve promises
  test/gateway_composer/accept_stake_request.js
  test/gateway_composer/approve_token.js
  test/gateway_composer/constructor.js
  test/gateway_composer/destroy.js
  test/gateway_composer/request_stake.js
  test/gateway_composer/revoke_stake_request.js
  test/gateway_composer/transfer_token.js
  test/utility_branded_token/constructor.js
Labels: area:composer, area:utility-branded-token, v0.10.0

#121 Tests: add tests to clarify conversion functionality
  test/branded_token/convert_to_branded_tokens.js
  test/branded_token/convert_to_value_tokens.js
Labels: area:branded-token, v0.10.0

#123 Contracts: improve documentation for success returns
  contracts/BrandedToken.sol
Labels: area:branded-token, v0.10.0

#119 Contracts: add GC.revertStake
  contracts/GatewayComposer.sol
  contracts/GatewayInterface.sol
  contracts/test/gateway/MockGatewayPass.sol
  test/gateway_composer/revert_stake.js
Labels: area:composer, v0.10.0

#122 Repo: updates changelog and reorganizes test contracts
  CHANGELOG.md
  contracts/test/branded_token/TestBrandedToken.sol
  contracts/test/eip20token/EIP20TokenMockFail.sol
  contracts/test/eip20token/EIP20TokenMockPass.sol
  contracts/test/eip20token/EIP20TokenMockPassFail.sol
  contracts/test/organization/OrganizationMockFail.sol
  contracts/test/organization/OrganizationMockPass.sol
  contracts/test/organization/OrganizationMockWorker.sol
Labels: area:other, v0.10.0
